In [10]:
import duckdb
import pandas as pd

# Create a DuckDB connection
con = duckdb.connect()

con.sql(f"SELECT name, type FROM parquet_schema('./yellow_tripdata_2009-01.parquet')").df()

                     name        type
0                    root        None
1             airport_fee      DOUBLE
2    congestion_surcharge      DOUBLE
3            dolocationid       INT32
4        dropoff_latitude      DOUBLE
5       dropoff_longitude      DOUBLE
6                   extra      DOUBLE
7             fare_amount      DOUBLE
8   improvement_surcharge      DOUBLE
9                 mta_tax      DOUBLE
10        passenger_count       INT64
11           payment_type  BYTE_ARRAY
12           pulocationid       INT32
13        pickup_latitude      DOUBLE
14       pickup_longitude      DOUBLE
15             ratecodeid       INT64
16     store_and_fwd_flag      DOUBLE
17              surcharge      DOUBLE
18             tip_amount      DOUBLE
19           tolls_amount      DOUBLE
20           total_amount      DOUBLE
21  tpep_dropoff_datetime  BYTE_ARRAY
22   tpep_pickup_datetime  BYTE_ARRAY
23          trip_distance      DOUBLE
24               vendorid  BYTE_ARRAY

In [12]:
! pip3 install --upgrade --quiet git+https://github.com/snowch/vastdb_parq_schema_file.git --use-pep517
! parquet_checker yellow_tripdata_2009-01.parquet

Parquet schema:
airport_fee: double
congestion_surcharge: double
dolocationid: int32
dropoff_latitude: double
dropoff_longitude: double
extra: double
fare_amount: double
improvement_surcharge: double
mta_tax: double
passenger_count: int64
payment_type: large_string
pulocationid: int32
pickup_latitude: double
pickup_longitude: double
ratecodeid: int64
store_and_fwd_flag: double
surcharge: double
tip_amount: double
tolls_amount: double
total_amount: double
tpep_dropoff_datetime: large_string
tpep_pickup_datetime: large_string
trip_distance: double
vendorid: large_string
Checking column types...
Column 'payment_type' has a non-matching type: LARGE_STRING
Column 'tpep_dropoff_datetime' has a non-matching type: LARGE_STRING
Column 'tpep_pickup_datetime' has a non-matching type: LARGE_STRING
Column 'vendorid' has a non-matching type: LARGE_STRING
Column type check complete.

Verifying overall element sizes (in KB):
Column 'airport_fee': 0.01 KB
Column 'congestion_surcharge': 0.01 KB
Column 'dolocationid': 0.00 KB
Column 'dropoff_latitude': 0.02 KB
Column 'dropoff_longitude': 0.02 KB
Column 'extra': 0.01 KB
Column 'fare_amount': 0.02 KB
Column 'improvement_surcharge': 0.01 KB
Column 'mta_tax': 0.00 KB
Column 'passenger_count': 0.00 KB
Column 'payment_type': 0.01 KB
Column 'pulocationid': 0.00 KB
Column 'pickup_latitude': 0.02 KB
Column 'pickup_longitude': 0.02 KB
Column 'ratecodeid': 0.00 KB
Column 'store_and_fwd_flag': 0.00 KB
Column 'surcharge': 0.02 KB
Column 'tip_amount': 0.02 KB
Column 'tolls_amount': 0.02 KB
Column 'total_amount': 0.02 KB
Column 'tpep_dropoff_datetime': 0.02 KB
Column 'tpep_pickup_datetime': 0.02 KB
Column 'trip_distance': 0.02 KB
Column 'vendorid': 0.00 KB