# Trino Connection

In [2]:
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [3]:
%load_ext sql

In [4]:
%sql trino://admin@${DOCKER_HOST_OR_IP}:8443/hive  --connection_arguments '{"http_scheme":"https", "verify": false}'

Connecting to 'trino://admin@10.143.11.241:8443/hive'

In [5]:
%%sql 

show catalogs

Running query in 'trino://admin@10.143.11.241:8443/hive'

+---------+
| Catalog |
+---------+
|   hive  |
| iceberg |
|  system |
|  tpcds  |
|   vast  |
+---------+

In [7]:
%%sql

SELECT *
FROM nyt.yellow_trip_data
LIMIT 10

Running query in 'trino://admin@10.143.11.241:8443/hive'

+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
| vendorid | tpep_pickup_datetime | tpep_dropoff_datetime | passenger_count | trip_distance | ratecodeid | store_and_fwd_flag | pulocationid | dolocationid | payment_type | fare_amount | extra | mta_tax | tip_amount | tolls_amount | improvement_surcharge | total_amount | congestion_surcharge | airport_fee |
+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
|    1     | 2020-04-01 00:41:22  |  2020-04-01 01:01:53  |        1        |      1.2      |     1      |         N          |      41      |      24      |      2       |     5.5     |  0.5  |   0.5   |    0.0     |     0.0      |          0.3          |     6.8      |         0.0          |     0.0     |
|    1     | 2020-04-01 00:56:00  |  2020-04-01 01:09:25  |        1        |      3.4      |     1      |         N          |      95      |     197      |      1       |     12.5    |  0.5  |   0.5   |    2.75    |     0.0      |          0.3          |    16.55     |         0.0          |     0.0     |
|    1     | 2020-04-01 00:00:26  |  2020-04-01 00:09:25  |        1        |      2.8      |     1      |         N          |     237      |     137      |      1       |     10.0    |  3.0  |   0.5   |    1.0     |     0.0      |          0.3          |     14.8     |         2.5          |     0.0     |
|    1     | 2020-04-01 00:24:38  |  2020-04-01 00:34:38  |        0        |      2.6      |     1      |         N          |      68      |     142      |      1       |     10.0    |  3.0  |   0.5   |    1.0     |     0.0      |          0.3          |     14.8     |         2.5          |     0.0     |
|    2     | 2020-04-01 00:13:24  |  2020-04-01 00:18:26  |        1        |      1.44     |     1      |         Y          |     263      |      74      |      1       |     6.5     |  0.5  |   0.5   |    3.0     |     0.0      |          0.3          |     13.3     |         2.5          |     0.0     |
|    2     | 2020-04-01 00:24:36  |  2020-04-01 00:33:09  |        1        |      2.93     |     1      |         N          |      75      |     170      |      2       |     10.5    |  0.5  |   0.5   |    0.0     |     0.0      |          0.3          |     14.3     |         2.5          |     0.0     |
|    2     | 2020-04-01 00:56:56  |  2020-04-01 01:09:13  |        1        |      6.86     |     1      |         N          |     141      |     243      |      1       |     20.0    |  0.5  |   0.5   |    4.76    |     0.0      |          0.3          |    28.56     |         2.5          |     0.0     |
|    2     | 2020-04-01 00:06:56  |  2020-04-01 00:14:15  |        1        |      1.19     |     1      |         N          |     137      |      68      |      2       |     7.0     |  0.5  |   0.5   |    0.0     |     0.0      |          0.3          |     10.8     |         2.5          |     0.0     |
|    1     | 2020-04-01 00:50:05  |  2020-04-01 01:08:54  |        1        |      11.3     |     1      |         N          |     229      |     185      |      2       |     31.5    |  3.0  |   0.5   |    0.0     |     0.0      |          0.3          |     35.3     |         2.5          |     0.0     |
|    2     | 2020-04-01 00:07:10  |  2020-04-01 00:18:45  |        1        |      3.68     |     1      |         N          |     140      |     226      |      1       |     13.0    |  0.5  |   0.5   |    3.36    |     0.0      |          0.3          |    20.16     |         2.5          |     0.0     |
+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
Truncated to displaylimit of 10.