In [36]:
import duckdb
import pandas as pd

# Create a DuckDB connection
con = duckdb.connect()

con.sql(f"SELECT name, type FROM parquet_schema('./yellow_tripdata_2009-01.parquet')").df()

                     name        type
0                  schema        None
1             airport_fee      DOUBLE
2    congestion_surcharge      DOUBLE
3            dolocationid       INT32
4        dropoff_latitude      DOUBLE
5       dropoff_longitude      DOUBLE
6                   extra      DOUBLE
7             fare_amount      DOUBLE
8   improvement_surcharge      DOUBLE
9                 mta_tax      DOUBLE
10        passenger_count       INT64
11           payment_type  BYTE_ARRAY
12           pulocationid       INT32
13        pickup_latitude      DOUBLE
14       pickup_longitude      DOUBLE
15             ratecodeid       INT64
16     store_and_fwd_flag      DOUBLE
17              surcharge      DOUBLE
18             tip_amount      DOUBLE
19           tolls_amount      DOUBLE
20           total_amount      DOUBLE
21  tpep_dropoff_datetime  BYTE_ARRAY
22   tpep_pickup_datetime  BYTE_ARRAY
23          trip_distance      DOUBLE
24               vendorid  BYTE_ARRAY

In [37]:
! pip3 install --upgrade --quiet git+https://github.com/snowch/vastdb_parq_schema_file.git --use-pep517
! parquet_checker yellow_tripdata_2009-01.parquet

/opt/conda/lib/python3.12/pty.py:95: RuntimeWarning: Using fork() can cause Polars to deadlock in the child process.
In addition, using fork() with Python in general is a recipe for mysterious
deadlocks and crashes.

The most likely reason you are seeing this error is because you are using the
multiprocessing module on Linux, which uses fork() by default. This will be
fixed in Python 3.14. Until then, you want to use the "spawn" context instead.

See https://docs.pola.rs/user-guide/misc/multiprocessing/ for details.

  pid, fd = os.forkpty()

Parquet schema:
airport_fee: double
congestion_surcharge: double
dolocationid: int32
dropoff_latitude: double
dropoff_longitude: double
extra: double
fare_amount: double
improvement_surcharge: double
mta_tax: double
passenger_count: int64
payment_type: string
pulocationid: int32
pickup_latitude: double
pickup_longitude: double
ratecodeid: int64
store_and_fwd_flag: double
surcharge: double
tip_amount: double
tolls_amount: double
total_amount: double
tpep_dropoff_datetime: string
tpep_pickup_datetime: string
trip_distance: double
vendorid: string
Checking column types...
Column type check complete.

Verifying overall element sizes (in KB):
^C
Traceback (most recent call last):
  File "/opt/conda/bin/parquet_checker", line 8, in <module>
    sys.exit(main())
             ^^^^^^
  File "/opt/conda/lib/python3.12/site-packages/parquet_checker/parquet_checker.py", line 61, in main
    checker.check_element_sizes()
  File "/opt/conda/lib/python3.12/site-packages/parquet_checker/parquet_checker.py", line 42, in check_element_sizes
    column_data = column.to_pandas()
                  ^^^^^^^^^^^^^^^^^^
  File "pyarrow/array.pxi", line 872, in pyarrow.lib._PandasConvertible.to_pandas
  File "pyarrow/array.pxi", line 1517, in pyarrow.lib.Array._to_pandas
  File "pyarrow/array.pxi", line 1938, in pyarrow.lib._array_like_to_pandas
  File "pyarrow/pandas-shim.pxi", line 116, in pyarrow.lib._PandasAPIShim.series
  File "/opt/conda/lib/python3.12/site-packages/pandas/core/series.py", line 389, in __init__
    def __init__(

KeyboardInterrupt

In [15]:
import polars as pl

In [30]:
import polars as pl

print(pl.DataFrame( {"binary_column": "utf8 type"}, schema={"binary_column": pl.Utf8} ).to_arrow(), end="\n\n")
print(pl.DataFrame( {"binary_column": "String type"}, schema={"binary_column": pl.String} ).to_arrow(), end="\n\n")
print(pl.DataFrame( {"binary_column": None}, schema={"binary_column": pl.Binary} ).to_arrow(), end="\n\n")

pyarrow.Table
binary_column: large_string
----
binary_column: [["utf8 type"]]

pyarrow.Table
binary_column: large_string
----
binary_column: [["String type"]]

pyarrow.Table
binary_column: large_binary
----
binary_column: [[null]]